---
layout: default
title: Contributing
---
<h1 class="header1">{{ page.title }}</h1>
<hr>
<h1 class="grhead1">Main Table of Contents</h1>
<div id="tableOfContents" class="grid-toc">
    <div class="toc1">
        <h2 class="grhead2">General</h2>
        <h3 class="grhead3"><a href="index.html">Welcome</a></h3>
        <h3 class="grhead3"><a href="10-contribute.html">Contribute: Generate Wiki pages from Text Files</a></h3>
        <h2 class="grhead2">Wrye Bash Related</h2>
        <h3 class="grhead3"><a href="2-wryebashfeatures.html">Wrye Bash Features</a></h3>
        <h3 class="grhead3"><a href="3-wryemashusage.html">Wrye Mash Usage</a></h3>
        <h3 class="grhead3"><a href="4-generalusage.html">General Usage</a></h3>
        <h3 class="grhead3"><a href="5-advancedusage.html">Advanced Usage</a></h3>
        <h3 class="grhead3"><a href="6-technicalreferences.html">Technical References</a></h3>
        <h3 class="grhead3"><a href="8-tomeofalt3rn1ty.html">Tome of Alt3rn1ty</a></h3>
    </div>
    <div class="toc2">
        <h2 class="grhead2">Morrowind Related</h2>
        <h3 class="grhead3"><a href="9-morrowindandbeyond.html">Morrowind And Beyond</a></h3>
        <h3 class="grhead3"><a href="14-testoolghostwheel.html">TES Plugin Tool (TESTool) 1.3 Docs</a></h3>
        <h2 class="grhead2">Oblivion Related</h2>
        <h3 class="grhead3"><a href="7-tomeofpsymon.html">Tome of Psymon - BAIN Mod Installation Projects</a></h3>
        <h3 class="grhead3"><a href="13-oblivionandbeyond.html">Oblivion And Beyond</a></h3>
        <h2 class="grhead2">Skyrim Related</h2>
        <h3 class="grhead3"><a href="11-tutorial_Links.html">Skyrim Special Edition Mod Tutorial Link Compendium</a></h3>
        <h3 class="grhead3"><a href="12-other_tools_and_extras.html">Popular Modding Tools Tutorials</a></h3>
    </div>
</div>
<p class="empty">&nbsp;</p>
<div>
<!-- Needed, sets the top of the page just before the H1 Title -->
<h2 class="header2" id="Intent">Intent</h2>
<p class="list-1">&bull;&nbsp; Do you have Wrye Bash related material that you would like to submit to this site? Are HTML and css style sheets over your head? The files and options provided will allow you to edit a simple text file that I will convert into content for the Wiki.</p>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; Optionally if you would like to see what your work will look like on-line I provide an optional Python script that will generate HTML and allow you to double click the file from the windows explorer and see a very close approximation of what it will look like.</p>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; Wrye has said in some of his Wrye Mash files that he built all of his pages using this system. I would presume that <a  href="http://wryemusings.com/">Wrye Musings</a> was done this way as well. On this page you will be shown the Wrye Text format and given a download of a python script to run and convert your Wrye Text files to HTML that can be used on this site.</p>
<p class="empty">&nbsp;</p>
<p class="note">You do not need to know Python or HTML to contribute. The syntax of the text file is explained below along with optional instructions on how to install Python to use the script provided.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Whatcontentwouldbeaccepted">What content would be accepted?</h2>
<p class="list-1">&bull;&nbsp; Content should be Wrye related and related to Wrye Mash, and Wrye Bash programs. This can include BAIN installers for mods that do not currently have any or any other content that users could benefit from when using Wrye Bash.</p>
<p class="list-1">&bull;&nbsp; Mod lists and modding guides are also acceptable.</p>
<p class="list-1">&bull;&nbsp; There are many mods that are a must have so guides will include most of these mods. Try not to duplicate other content when possible.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Contents">Contents</h2>
<p class="list-1">&bull;&nbsp; <a href="#Requirement">10.1 Requirement</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Downloadpagebuilder_v18zip">10.1.1 Download pagebuilder_v18.zip</a></p>
<p class="list-2">&bull;&nbsp; <a href="#ExampleTemplate">10.1.2 Example Template</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Syntax">10.2 Syntax</a></p>
<p class="list-2">&bull;&nbsp; <a href="#YourPagesTitle">10.2.1 Your Pages Title</a></p>
<p class="list-2">&bull;&nbsp; <a href="#HeadingStyle1">10.2.2 Heading Style 1</a></p>
<p class="list-2">&bull;&nbsp; <a href="#HeadingStyle2">10.2.3 Heading Style 2</a></p>
<p class="list-2">&bull;&nbsp; <a href="#TableofContents">10.2.4 Table of Contents</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Bullets">10.2.5 Bullets</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Styles">10.2.6 Styles</a></p>
<p class="list-2">&bull;&nbsp; <a href="#HeaderRule">10.2.7 Header Rule</a></p>
<p class="list-2">&bull;&nbsp; <a href="#NavigationButtons">10.2.8 Navigation Buttons</a></p>
<p class="list-2">&bull;&nbsp; <a href="#ExtraNavigation">10.2.9 Extra Navigation</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Links">10.2.10 Links</a></p>
<p class="list-2">&bull;&nbsp; <a href="#TextColors">10.2.11 Text Colors</a></p>
<p class="list-2">&bull;&nbsp; <a href="#LinkColors">10.2.12 Link Colors</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Html">10.2.13 Html</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Blockquote">10.2.14 Blockquote</a></p>
<p class="list-2">&bull;&nbsp; <a href="#SpoilerTags">10.2.15 Spoiler Tags</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Notes">10.2.16 Notes</a></p>
<p class="list-2">&bull;&nbsp; <a href="#OtherFormattingHTMLElements">10.2.17 Other Formatting & HTML Elements</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Comments">10.2.18 Comments</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Images">10.2.19 Images</a></p>
<p class="list-2">&bull;&nbsp; <a href="#AddinganImage">10.2.20 Adding an Image</a></p>
<p class="list-2">&bull;&nbsp; <a href="#AddinganImagewithaCaption">10.2.21 Adding an Image with a Caption</a></p>
<p class="list-2">&bull;&nbsp; <a href="#AddinganImagewithCaptionandHyperlink">10.2.22 Adding an Image with Caption and Hyperlink</a></p>
<p class="list-2">&bull;&nbsp; <a href="#AddinganinlineImage">10.2.23 Adding an inline Image</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Versions">10.3 Versions</a></p>
<p class="list-2">&bull;&nbsp; <a href="#1800Update1252020">10.3.1 18.00 Update [1/25/2020]</a></p>
<p class="list-2">&bull;&nbsp; <a href="#1700Update1252020">10.3.2 17.00 Update [1/25/2020]</a></p>
<p class="list-2">&bull;&nbsp; <a href="#1600Update1252020">10.3.3 16.00 Update [1/25/2020]</a></p>
<p class="list-2">&bull;&nbsp; <a href="#1500Update1242020">10.3.4 15.00 Update [1/24/2020]</a></p>
<p class="list-2">&bull;&nbsp; <a href="#1400Update1222020">10.3.5 14.00 Update [1/22/2020]</a></p>
<p class="list-1">&bull;&nbsp; <a href="#OptionalRequirement">10.4 Optional Requirement</a></p>
<p class="list-2">&bull;&nbsp; <a href="#PythonInstallation">10.4.1 Python Installation</a></p>
<p class="list-2">&bull;&nbsp; <a href="#WherearethefilesIjustdownloaded">10.4.2 Where are the files I just downloaded?</a></p>
<p class="list-2">&bull;&nbsp; <a href="#InstallingPython">10.4.3 Installing Python</a></p>
<p class="list-2">&bull;&nbsp; <a href="#InstallingPythonscriptforuse">10.4.4 Installing Python script for use</a></p>
<p class="list-1">&bull;&nbsp; <a href="#ReuseandCredits">10.5 Reuse and Credits</a></p>
<p class="list-2">&bull;&nbsp; <a href="#LicenseWML10ModifyandRedistributeShareAlike">10.5.1 License: WML 1.0 Modify and Redistribute, Share Alike</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Credits">10.5.2 Credits</a></p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Requirement">10.1 - Requirement</h2>
<p class="list-1">&bull;&nbsp; The <code>pagebuilder_v18.zip</code> contains all the files shown. However, in the future it may contain other files as well. As the file changes, the file name will have a version number added to it that you can compare to your copy. Then you will know if you have the most recent files.</p>
<h3 id="Downloadpagebuilder_v18zip">10.1.1 - Download pagebuilder_v18.zip</h3>
<p>{% include image.html file="img/pagebuilder.jpg" alt="Page Builder Zipfile" %}</p>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; <a  href="pagebuilder_v18.zip">pagebuilder_v18 Download Link.zip</a></p>
<p class="empty">&nbsp;</p>
<h3 id="ExampleTemplate">10.1.2 - Example Template</h3>
<p>As part of the pagebuilder archive you have <code>Wiki Page Template.txt</code>. This will be the file you will modify as desired for the wiki content you wish to present. I will convert it into usable HTML after you are done and you may update the content and submit the changes.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Syntax">10.2 - Syntax</h2>
<h3 class="header3" id="YourPagesTitle">10.2.1 - Your Pages Title</h3>
<p class="empty">&nbsp;</p>
<p>Your page title will become the first line on the page and will be assigned as the first header. To indicate this text use the following Wrye Tag. Add <code>{% raw %}{{PAGETITLE="Your Page Title"}}{% endraw %}</code> with opening and ending double curly brackets. The text in quotes will become the title of your page as shown below.</p>
<p class="empty">&nbsp;</p>
<h1 class="header1" id="YourPageTitle">Your Page Title</h1>
<p class="empty">&nbsp;</p>
<hr>
<h3 class="header3" id="HeadingStyle1">10.2.2 - Heading Style 1</h3>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; There are 4 levels of headings defined with different sizes of text and backgrounds.</p>
<p class="list-1">&bull;&nbsp; The level of the heading is determined by number of leading '='s. Trailing equal signs are ignored.</p>
<p class="list-1">&bull;&nbsp; These headings will have some shade of grey bar that extends the width of the page.</p>
<p class="empty">&nbsp;</p>
<h1 class="header1" id="Heading1">Heading 1</h1>
<h2 class="header2" id="Heading2">Heading 2</h2>
<h3 class="header3" id="Heading3">Heading 3</h3>
<h4 class="header4" id="Heading4">Heading 4</h4>
<p class="empty">&nbsp;</p>
<hr>
<h3 class="header3" id="HeadingStyle2">10.2.3 - Heading Style 2</h3>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; Like the previous heading the amount of leading '#'s determines the level of the heading.</p>
<p class="list-1">&bull;&nbsp; These headings will not have a bar as a background and will have green text</p>
<h1 id="Heading11">Heading 1</h1>
<h2 id="Heading22">Heading 2</h2>
<h3 id="Heading33">Heading 3</h3>
<h4 id="Heading44">Heading 4</h4>
<p class="empty">&nbsp;</p>
<hr>
<h3 class="header3" id="TableofContents">10.2.4 - Table of Contents</h3>
<p class="empty">&nbsp;</p>
<p>A table of contents is automatically generated from the headers in the document. It is best to place the first content tag where you want the table of contents to be, and after a header named Contents. The number indicates the level of headers used. You should not use H1 except at the beginning of your page.</p>
<p class="empty">&nbsp;</p>
<p>In addition to building a table of contents, both the headers and the table of contents will be numbered automatically. It is not necessary to number the headers manually because they will be renumbered automatically as well. The numbering relies on the numer at the begining of the file name. For exmaple all the numbers will start with <code>6.x</code> if the file name is <code>6-yourpagename.html</code>.</p>
<p class="empty">&nbsp;</p>
<p>A value of two would use H2 headers:</p>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; H2 Heading</p>
<p class="list-1">&bull;&nbsp; H2 Heading</p>
<p class="list-1">&bull;&nbsp; H2 Heading</p>
<p class="empty">&nbsp;</p>
<p>A value of three would include H3 headers as well:</p>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; H2 Heading</p>
  <p class="list-2">&bull;&nbsp; H3 Heading</p>
<p class="list-1">&bull;&nbsp; H2 Heading</p>
<p class="empty">&nbsp;</p>
<p>A value of four would include H4 headers:</p>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; H2 Heading</p>
  <p class="list-2">&bull;&nbsp; H3 Heading</p>
    <p class="list-3">&bull;&nbsp; H4 Heading</p>
<p class="list-1">&bull;&nbsp; H2 Heading</p>
<p class="empty">&nbsp;</p>
<p>The syntax is as follows: <code>{% raw %}{{CONTENTS=2}}{% endraw %}</code> or <code>{% raw %}{{CONTENTS=0}}{% endraw %}</code> to pause using headers in the table of contents.</p>
<p class="empty">&nbsp;</p>
<p>You can also disable using headers in the table of contents by using a value of <code>0</code>. The headers will not be recorded until there is another contents tag with a value greater than 0.</p>
<p class="empty">&nbsp;</p>
<p class="note">You can only use one value for the document. Meaning if you use the value of 2 you can not use 3 and later 4 and then later 2 again. Instead use headers in a meaningful way or omit the header by using a 0 value contents tag.</p>
<p class="empty">&nbsp;</p>
<hr>
<h3 class="header3" id="Bullets">10.2.5 - Bullets</h3>
<p class="list-1">&bull;&nbsp; Bullets1 - an asterisk <code>*</code> and a space would precede the text</p>
  <p class="list-2">&bull;&nbsp; Bullets 2 - two spaces and an asterisk <code>*</code> would precede the text</p>
    <p class="list-3">&bull;&nbsp; Bullets 3 - four spaces and an asterisk <code>*</code> would precede the text</p>
      <p class="list-4">&bull;&nbsp; Bullets 4 - six spaces and an asterisk <code>*</code> would precede the text</p>
        <p class="list-5">&bull;&nbsp; Bullets 5 - six spaces and an asterisk <code>*</code> would precede the text</p>
          <p class="list-6">&bull;&nbsp; Bullets 6 - six spaces and an asterisk <code>*</code> would precede the text</p>
<p class="list-1">+&nbsp; Alternate bullet char - a plus and a space <code>+ </code> would precede the text</p>
<p class="list-1">o&nbsp; Alternate bullet char</p>
<p class="list-1">&nbsp;&nbsp; For an invisible bullet char you would use a period <code>.</code> at the beginning of the line.</p>
<p class="empty">&nbsp;</p>
<hr>
<h3 class="header3" id="Styles">10.2.6 - Styles</h3>
<p class="list-1">&bull;&nbsp; <I>Italic</I> - You would surround the text using two tilde <code>~</code> symbols</p>
<p class="list-1">&bull;&nbsp; <B>Bold</B> - You would surround the text using two underscore <code>_</code> symbols</p>
<p class="list-1">&bull;&nbsp; <B><I>BoldItalic</I></B> - You would surround the text using two asterisk <code>*</code> symbols</p>
<p class="empty">&nbsp;</p>
<hr>
<h3 class="header3" id="HeaderRule">10.2.7 - Header Rule</h3>
<p>There are two ways to make a Header Rule to separate content. The traditional HTML <code>&lt;hr&gt;</code> tag and by adding 4 hyphens <code>&#45;&#45;&#45;&#45;</code> at the beginning of a line.</p>
<p class="empty">&nbsp;</p>
<hr>
<p class="empty">&nbsp;</p>
<p class="note">The above white line used the 4 hyphens <code>&#45;&#45;&#45;&#45;</code> as the syntax.</p>
<h3 class="header3" id="NavigationButtons">10.2.8 - Navigation Buttons</h3>
<p>You can add Navigation Buttons to your document to help your reader navagate to other pages or sections on the same page. Below is the syntax for two buttons. The buttons will be arranged horizontally unless on a phone where they will appear vertically.</p>
<p class="empty">&nbsp;</p>
{% raw %}
<pre>
{{nbb}}
    [[https://wrye-code-collection.github.io/wcc-wiki/index.html | wcc-wiki]]
    [[https://sharlikran.github.io/ | Sharlikran]]
{{nbe}}
</pre>
{% endraw %}
<p class="empty">&nbsp;</p>
<p>Will produce dark teal buttons like this:</p>
<p class="empty">&nbsp;</p>
<div>
    <a  href="#Versions" class="drkbtn">Versions</a>
    <a  href="#Contents" class="drkbtn">Contents</a>
</div>
<p class="empty">&nbsp;</p>
<p>All Wrye Text link syntax is vallid.</p>
<p class="empty">&nbsp;</p>
<div>
    <a  href="#Links" class="drkbtn">See Links</a>
</div>
<h3 class="header3" id="ExtraNavigation">10.2.9 - Extra Navigation</h3>
<p>If you need to link to another part of a page or a different page then you can insert a navigation anchor. The anchor should be placed above the text you want to link to. That way once you click the link the page will move to the anchor and text (where you placed the anchor) will be positioned at the top of the browser.</p>
<p class="empty">&nbsp;</p>
{% raw %}
<pre>
{{nav:gotohere}}
</pre>
{% endraw %}
<p class="empty">&nbsp;</p>
<p>Once you add the navigation link you will need to make a link for users to click on to navigate to the anchor. To do so you need the link to start with  <code>#</code> Simply add that somewhere in the document above where you want the anchor</p>
<p class="empty">&nbsp;</p>
{% raw %}
<pre>
[[#|gotohere]]
</pre>
{% endraw %}
<p class="empty">&nbsp;</p>
<p>Click <a  href="#thislink">this link</a> and it will jump to the Version section so you can see what happens with this type of anchor.</p>
<p class="empty">&nbsp;</p>
<p class="note">The anchor <B>does not</B> start with a <code>#</code>. However, the link to the anchor <B>must</B> start with a <code>#</code>.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="Links">10.2.10 - Links</h3>
<p>There are different ways to add a hyperlink to other content. The two examples that will be internal and external links.</p>
<p class="empty">&nbsp;</p>
<pre>
External Link: &#91;&#91;https://wryemusings.com/&#93;&#93; or &#91;&#91;https://wryemusings.com/ | Wrye Musings&#93;&#93;
</pre>
<p><a  href="https://wryemusings.com/">https://wryemusings.com/</a> or <a  href="https://wryemusings.com/">Wrye Musings</a></p>
<p class="empty">&nbsp;</p>
<p>Although the syntax is different they function the same. The difference with the second example is that it has link text. To specify link text you separate the hyperlink and the link text with a pipe <code>|</code> symbol which you get by using <code>SHIFT + \</code>.</p>
<p class="empty">&nbsp;</p>
<pre>
Internal Link 1: &#91;&#91;#Python Installation | Python Installation&#93;&#93;
Internal Link 2: &#91;&#91;#| Reuse and Credits&#93;&#93;
Internal Link 3: &#91;&#91;#ExtraNavigation | Extra Navigation&#93;&#93;
</pre>
<p>Internal Link 1: <a  href="#PythonInstallation">Python Installation</a></p>
<p>Internal Link 2: <a  href="#ReuseandCredits">Reuse and Credits</a></p>
<p>Internal Link 3: <a  href="#ExtraNavigation">Extra Navigation</a></p>
<p class="empty">&nbsp;</p>
<p>There is no functional difference between the three examples. They will all link to another part of this document. One slight difference is that in the first two examples the text on the left side of the <code>|</code> has a space. The site builder will automatically convert that to a valid internal link. For a valid internal like you only need to specify the name of the header. The main benefit of this syntax is that as long as the header name does not change, it will not matter what other headers or sections of the document you add or remove. An internal link will always be valid as long as there is a matching header of the same name.</p>
<p class="empty">&nbsp;</p>
<p class="note">If you duplicate a header name a number will be appended to make the anchor unique. When that happens an internal link to a header will fail unless you specify the exact anchor produced by the pagebuilder. You will need to examine the HTML file generated.</p>
<p class="empty">&nbsp;</p>
<hr>
<h3 class="header3" id="TextColors">10.2.11 - Text Colors</h3>
<p class="empty">&nbsp;</p>
<p>There are 16 dark themed colors (17 if you count black) for you to choose from so they are not (at least to the best of my abilities) as blinding as their regular values. To use these colors you need to use the outdated HTML tag <code>font</code>. The tag needs to have the proper open and closing tag, and the name of the color will be assigned to the word class within quotes.</p>
<p class="empty">&nbsp;</p>
<pre>
&lt;font class="green"&gt;This is green&lt/font&gt;
</pre>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; <font class="black">This is black</font></p>
<p class="list-1">&bull;&nbsp; <font class="blue">This is blue</font></p>
<p class="list-1">&bull;&nbsp; <font class="brown">This is brown</font></p>
<p class="list-1">&bull;&nbsp; <font class="cyan">This is cyan</font></p>
<p class="list-1">&bull;&nbsp; <font class="dkgray">This is dkgray</font></p>
<p class="list-1">&bull;&nbsp; <font class="gray">This is gray</font></p>
<p class="list-1">&bull;&nbsp; <font class="green">This is green</font></p>
<p class="list-1">&bull;&nbsp; <font class="ltblue">This is ltblue</font></p>
<p class="list-1">&bull;&nbsp; <font class="ltgray">This is ltgray</font></p>
<p class="list-1">&bull;&nbsp; <font class="ltgreen">This is ltgreen</font></p>
<p class="list-1">&bull;&nbsp; <font class="orange">This is orange</font></p>
<p class="list-1">&bull;&nbsp; <font class="pink">This is pink</font></p>
<p class="list-1">&bull;&nbsp; <font class="purple">This is purple</font></p>
<p class="list-1">&bull;&nbsp; <font class="red">This is red</font></p>
<p class="list-1">&bull;&nbsp; <font class="tan">This is tan</font></p>
<p class="list-1">&bull;&nbsp; <font class="white">This is white</font></p>
<p class="list-1">&bull;&nbsp; <font class="yellow">This is yellow</font></p>
<p class="empty">&nbsp;</p>
<p class="note">Obviously some colors will not contrast that well against this dark background but would look much better against a lighter background.</p>
<p class="empty">&nbsp;</p>
<hr>
<h3 class="header3" id="LinkColors">10.2.12 - Link Colors</h3>
<p class="empty">&nbsp;</p>
<p>You may be contributing a guide that has people download a mod and you wish to color code them to indicate a special purpose. Maybe the file needs to be converted from Skyrim to Skyrim SE or maybe the mod has special install procedures that make it complicated for new users. Whatever the case may be there is a tag that you may use to indicate the link color.</p>
<p class="empty">&nbsp;</p>
<pre>
{% raw %}{{a:green}}{% endraw %}</code> in the link's name field will be used to color the link green.
{% raw %}&#91;&#91;https://github.com/Sharlikran | The Link Text Will Be Green{{a:green}}&#93;&#93;{% endraw %}
</pre>
<p class="empty">&nbsp;</p>
{% raw %}<a class="orange" href="https://sharlikran.github.io/">This Link Text is Orange</a>{% endraw %}
<p class="empty">&nbsp;</p>
<p class="note">The tag must be with the link name or it will be ignored.</p>
<hr>
<h3 class="header3" id="Html">10.2.13 - Html</h3>
<p class="list-1">&bull;&nbsp; <i>Html tags work fine</i></p>
<p class="list-1">&bull;&nbsp; <code>code tag has special formatting</code></p>
<p class="list-1">&bull;&nbsp; <B><I>pre</I></B> tag is useful for code</p>
<pre>
begin widgetScript
short counter
end
</pre>
<p class="empty">&nbsp;</p>
<p>Refrain from using too many HTML tags if you know the language well. If special styling is needed I can look into a way to provide additional options. However, I would like to keep this custom markdown language as simple as possible so it doesn't become another type of HTML.</p>
<p class="empty">&nbsp;</p>
<hr>
<h3 class="header3" id="Blockquote">10.2.14 - Blockquote</h3>
<p>To add a blockquote tag you will need to specify an author for the blockquote. To do so simply add the author name after the colon <code>:</code> symbol. This will be converted into the authors name and placed at the top of the blockquote.</p>
<p class="empty">&nbsp;</p>
{% raw %}
<pre>
[[bb:Quote]]
Example of text in a blockquote
[[be:]]
</pre>
{% endraw %}
<p class="empty">&nbsp;</p>
<section class="quote">
<p class="attr">Quote</p>
<p class="list-1">&nbsp;&nbsp; This is quoted text from another author.</p>
<p class="list-1">&nbsp;&nbsp; You can also put a blockquote around text for other reasons.</p>
<p class="list-1">&nbsp;&nbsp; The title of the blockquote can be assigned the author of the quote or even just the word Quote.</p>
</section>
<p class="empty">&nbsp;</p>
<hr>
<h3 class="header3" id="SpoilerTags">10.2.15 - Spoiler Tags</h3>
<p class="empty">&nbsp;</p>
<p>To add a spoiler tag you will need to specify both an ID for the spoiler and the spoiler name separated with a pipe <code>|</code> symbol. This will connect the spoiler contents, name, and the button.</p>
<p class="empty">&nbsp;</p>
{% raw %}<pre>
[[sb:Spoiler1 | Spoiler Name]]
Example of text in the spoiler tag
[[se:]]
</pre>{% endraw %}
<p class="empty">&nbsp;</p>
<input type="checkbox" id="spoiler1" />
<label for="spoiler1">Spoiler Name</label>
<div class="spoiler">
<p>Example of text in the spoiler tag</p>
</div>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="Notes">10.2.16 - Notes</h3>
<p class="empty">&nbsp;</p>
<p>A note can be added simply by adding the note tag shown below.</p>
<p class="empty">&nbsp;</p>
{% raw %}
<pre>
&#123;&#123;note:Example of text for a note.&#125;&#125;
</pre>
{% endraw %}
<p class="empty">&nbsp;</p>
<p class="note">The note will appear to the right of the image in a bordered box as shown.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="OtherFormattingHTMLElements">10.2.17 - Other Formatting & HTML Elements</h3>
<p class="empty">&nbsp;</p>
<p>GitHub uses Jekyll pages. It will process certain characters in an undesirable way. In a future version of pagebuilder I will try to automate this process. For now if you have any of the following characters you can use their HTML element so they are displayed correctly.</p>
<p class="empty">&nbsp;</p>
<pre>
&amp;#123; = {
&amp;#125; = } 
&amp;#91; is for [
&amp;#93; is for ]
&amp;lt; is for <
&amp;gt; is for >
</pre>
<p class="empty">&nbsp;</p>
<p class="note">Blank lines can be used as spacers</p>
<p class="empty">&nbsp;</p>
<hr>
<h3 class="header3" id="Comments">10.2.18 - Comments</h3>
<p class="empty">&nbsp;</p>
<p>Wrye Text will allow a variation of C Language type comments. Comments will not be output to the final HTML file for the Wiki. Useful for remembering information you don't need to end up in the Wiki itself.</p>
<p class="empty">&nbsp;</p>
<h4 class="header4" id="AllowedSyntax">Allowed Syntax</h4>
<p class="empty">&nbsp;</p>
{% raw %}<pre>
/* comment goes here */
</pre>{% endraw %}
<p class="empty">&nbsp;</p>
<p>OR</p>
<p class="empty">&nbsp;</p>
{% raw %}<pre>
/*
 comment goes here
*/
</pre>{% endraw %}
<p class="empty">&nbsp;</p>
<p class="note">Comments inside of <code>&lt;pre&gt;</code> or preformatted text elements will not be treated as a comment. For now both single and multi line comments require a trailing <code>*/</code> or the HTML will not be generated properly.</p>
<p class="empty">&nbsp;</p>
<h4 class="header4" id="InvalidSyntax">Invalid Syntax</h4>
<p class="empty">&nbsp;</p>
{% raw %}<pre>
// This is a single line comment
</pre>{% endraw %}
<p class="empty">&nbsp;</p>
<p>OR</p>
<p class="empty">&nbsp;</p>
{% raw %}<pre>
* This is a bullet of something
* This is a link to a mod // This is a comment after the link
</pre>{% endraw %}
<p class="empty">&nbsp;</p>
<h3 class="header3" id="Images">10.2.19 - Images</h3>
<p>I apologize for the rather cryptic way of doing this. I needed something easy to work with that didn't require a ridiculous amount of code.</p>
<h3 class="header3" id="AddinganImage">10.2.20 - Adding an Image</h3>
<p>The syntax for an image requires the name of the file and alternate text if the image is not showing.</p>
<p class="empty">&nbsp;</p>
<h4 id="ExamplesyntaxforanImage">Example syntax for an Image</h4>
{% raw %}<pre>
{{image:pagebuilder.jpg | Page Builder Image}}
</pre>{% endraw %}
<p class="empty">&nbsp;</p>
<h4 id="ExampleofanImage">Example of an Image</h4>
<p>{% include image.html file="img/pagebuilder.jpg" alt="Page Builder Image" %}</p>
<hr>
<h3 class="header3" id="AddinganImagewithaCaption">10.2.21 - Adding an Image with a Caption</h3>
<p>The syntax for an image with a caption requires the name of the file, alternate text, and a caption. The box for the caption will be the width of the image and will wordwrap.</p>
<p class="empty">&nbsp;</p>
<h4 id="ExamplesyntaxforanImagewithCaption">Example syntax for an Image with Caption</h4>
{% raw %}<pre>
{{image-caption:pagebuilder.jpg | Page Builder Image | This is what the zip looks like}}
</pre>{% endraw %}
<p class="empty">&nbsp;</p>
<h4 id="ExampleImagewithaCaption">Example Image with a Caption</h4>
<p>{% include image-caption.html file="img/pagebuilder.jpg" alt="Page Builder Image" caption="This is what the zip looks like" %}</p>
<hr>
<h3 class="header3" id="AddinganImagewithCaptionandHyperlink">10.2.22 - Adding an Image with Caption and Hyperlink</h3>
<p>The syntax for an image with a caption and a hyperlink will require five elements. The name of the file, alternate text, and a caption. In addition to that you need two elements for the hyperlink, the hyperlink itself and a name for the link. The box for the caption will be the width of the image and will wordwrap. The link will appear under the caption and will not be the width of the image.</p>
<p class="empty">&nbsp;</p>
<h4 id="ExamplesyntaxImagewithaCaptionandHyperlink">Example syntax Image with a Caption and Hyperlink</h4>
{% raw %}<pre>
{{image-cap-url:pagebuilder.jpg | Page Builder Image | This is what the zip looks like | pagebuilder_v18.zip | Page Builder Zip}}
</pre>{% endraw %}
<p class="empty">&nbsp;</p>
<h4 id="ExampleImagewithCaptionandHyperlink">Example Image with Caption and Hyperlink</h4>
<p>{% include image-caption-url.html file="img/pagebuilder.jpg" alt="Page Builder Image" caption="This is what the zip looks like" url="pagebuilder_v18.zip" urlname="Page Builder Zip" %}</p>
<hr>
<h3 class="header3" id="AddinganinlineImage">10.2.23 - Adding an inline Image</h3>
<p>You can use small inline images between {% include image-inline.html max-width="20px" file="img/Sqinter.png" alt="Wrye Avatar" %} text.</p>
<p class="empty">&nbsp;</p>
<p>{% include image-inline.html max-width="20px" file="img/Sqdiscus.png" alt="Sqdiscus" %} You can also use a small icon at the beginning of a sentence using the inline image Wrye Tag.</p>
<p class="empty">&nbsp;</p>
<p>Keep in mind you would want to use small images about 24 to 36 pixels or less. Using large inline {% include image-inline.html max-width="96px" file="img/wrye_monkey_96.png" alt="Wrye Avatar" %} images will look silly.</p>
<p class="empty">&nbsp;</p>
<h4 id="Examplesyntaxforaninlineimage">Example syntax for an inline image</h4>
{% raw %}<pre>
{{inline:96px | wrye_monkey_96.png | Page Builder}}
</pre>{% endraw %}
<p class="empty">&nbsp;</p>
<h4 id="Exampleofaninlineimage">Example of an inline image</h4>
<p>{% include image-inline.html max-width="96px" file="img/wrye_monkey_96.png" alt="Wrye Avatar" %} Wrye's Avatar</p>
<hr>
<div id="thislink"></div>
<h2 class="header2" id="Versions">10.3 - Versions</h2>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="1800Update1252020">10.3.1 - 18.00 Update [1/25/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v18.zip version 18</p>
  <p class="list-2">&bull;&nbsp; Fixed bug when compressing an internal link</p>
  <p class="list-2">&bull;&nbsp; Added additional note syntax. See <a  href="#Notes">Notes</a></p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="1700Update1252020">10.3.2 - 17.00 Update [1/25/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v17.zip version 17</p>
  <p class="list-2">&bull;&nbsp; Updated Regex for various thins to capture the text more accurately</p>
  <p class="list-2">&bull;&nbsp; Updated link generation (Provided it is valid to begin with)</p>
  <p class="list-2">&bull;&nbsp; Updated header renumbering to use altered header text instead of original text</p>
  <p class="list-2">&nbsp;&nbsp; from when it was first captured.</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="1600Update1252020">10.3.3 - 16.00 Update [1/25/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v16.zip version 16</p>
  <p class="list-2">&bull;&nbsp; Remove and assign color better for links</p>
  <p class="list-2">&bull;&nbsp; Handle Paragraphs Better</p>
  <p class="list-2">&bull;&nbsp; Provide more control for Preformatted Blocks</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="1500Update1242020">10.3.4 - 15.00 Update [1/24/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v15.zip version 15</p>
  <p class="list-2">&bull;&nbsp; Fixed bug in page auto renumbering when there is no number prefix for the</p>
  <p class="list-2">&nbsp;&nbsp; filename.</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="1400Update1222020">10.3.5 - 14.00 Update [1/22/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v14.zip version 14</p>
  <p class="list-2">&bull;&nbsp; Updated builder to auto renumber page</p>
  <p class="list-2">&bull;&nbsp; Numbering is bassed on the number prefix of the file name</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="1300Update1212020">13.00 Update [1/21/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v13.zip version 13</p>
  <p class="list-2">&bull;&nbsp; Added syntax for Navigation Buttons</p>
  <p class="empty">&nbsp;</p>
<div>
    <a  href="#NavigationButtons" class="drkbtn">See Navigation Buttons</a>
</div>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="1200Update1192020">12.00 Update [1/19/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v12.zip version 12</p>
  <p class="list-2">&bull;&nbsp; Updated builder for Table Of Contents</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="1100Update1182020">11.00 Update [1/18/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v11.zip version 11</p>
  <p class="list-2">&bull;&nbsp; Added navigation anchor see <a  href="#ExtraNavigation">ExtraNavigation</a></p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="1000Update1182020">10.00 Update [1/18/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v10.zip version 10</p>
  <p class="list-2">&bull;&nbsp; Removed max-width from images except inline images</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="900Update1172020">9.00 Update [1/17/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v9.zip version 9</p>
  <p class="list-2">&bull;&nbsp; Added image Wrye Tags see <a  href="#Images">Images</a></p>
  <p class="list-2">&bull;&nbsp; Updated CSS for user page builder</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="800Update1162020">8.00 Update [1/16/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v8.zip version 8</p>
  <p class="list-2">&bull;&nbsp; Updated CSS to reflect changes</p>
  <p class="list-2">&bull;&nbsp; Added Pagetitle to Pseudo Page Header</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="700Update1152020">7.00 Update [1/15/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v7.zip version 7</p>
  <p class="list-2">&bull;&nbsp; Added a Blockquote Tag see <a  href="#Blockquote">Blockquote</a></p>
  <p class="list-2">&bull;&nbsp; Font and Code tags at the start of a line were not assigned a paragraph marker and thus not indenting.</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="600Update1112020">6.00 Update [1/11/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v6.zip version 6</p>
  <p class="list-2">&bull;&nbsp; Alter spoiler button to expand its width when there is more text</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="500Update1112020">5.00 Update [1/11/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v5.zip version 5</p>
  <p class="list-2">&bull;&nbsp; Fixed a bug in changing color for Internal Links</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="400Update1102020">4.00 Update [1/10/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v4.zip version 4</p>
  <p class="list-2">&bull;&nbsp; Added Spoiler Tags see <a  href="#SpoilerTags">SpoilerTags</a></p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="300Update1102020">3.00 Update [1/10/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v3.zip version 3</p>
  <p class="list-2">&bull;&nbsp; Added C Language type comments see <a  href="#Comments">Comments</a></p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="200Update182020">2.00 Update [1/8/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v2.zip version 2</p>
  <p class="list-2">&bull;&nbsp; Only the site CSS will be used to illustrate what the finished HTML should look like. Removed the ability to use alternate CSS for end user.</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="100Update172020">1.00 Update [1/7/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder_v1.zip version 1</p>
  <p class="list-2">&bull;&nbsp; This version has a new file in it <code>wtxt-wiki-user.py</code>. That is the file you will use if you want to see what your page will look like once converted to use on the website.</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="000InitialRelease112020">0.00 Initial Release [1/1/2020]</h3>
<p class="list-1">&bull;&nbsp; released pagebuilder.zip version 0</p>
<h2 class="header2" id="OptionalRequirement">10.4 - Optional Requirement</h2>
<p class="list-1">&bull;&nbsp; To generate the HTML files you will need the latest python from Python.org. These files are written for 2.7.x and the current Python 2.7.17 will work just fine. The link is for the 32 bit version. Please download that because the setup will go smoother and add needed configurations to your computer to run the python scripts provided.</p>
<p class="list-1">&bull;&nbsp; Below is a link to Python 2.7.17 and a link to the pagebuilder script and sample file you can generate right away to see it working.</p>
<p class="list-1">&bull;&nbsp; <a  href="https://www.python.org/ftp/python/2.7.17/python-2.7.17.msi">Download Python 2.7.17</a></p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="PythonInstallation">10.4.1 - Python Installation</h3>
<h3 id="WherearethefilesIjustdownloaded">10.4.2 - Where are the files I just downloaded?</h3>
<p class="list-1">&bull;&nbsp; The files usually end up in your windows Downloads folder as shown below.</p>
<p>{% include image.html file="img/downloadedfiles.jpg" alt="Downloaded Files" %}</p>
<p class="list-1">&bull;&nbsp; Open your windows explorer and on the left navigate to your Downloads folder.</p>
<p class="list-1">&bull;&nbsp; First you will install Python and then be shown where to put the Python scripts and example files.</p>
<h3 id="InstallingPython">10.4.3 - Installing Python</h3>
<p class="list-1">&bull;&nbsp; Your version of python will be different then show here. What is important is the install location. Leave it at the default settings so that you can follow the instructions for building HTML files with Python.</p>
<p>{% include image.html file="img/pythoninstall.jpg" alt="Python Install" %}</p>
<p class="list-1">&bull;&nbsp; The Python installation will be very simple, just click next and leave all the default settings.</p>
<h3 id="InstallingPythonscriptforuse">10.4.4 - Installing Python script for use</h3>
<p class="list-1">&bull;&nbsp; Once installed Python you will need to unzip the python script and sample text file used to build the html file.</p>
<p class="list-1">&bull;&nbsp; These are really not installed on your system automatically so we will be copying them.</p>
<p class="list-1">&bull;&nbsp; Windows should have a way to open this type of zip file itself but if needed you can download 7zip from <a  href="https://www.7-zip.org/">7-zip.org</a>. It is safe, free and, easy to use.</p>
<p>{% include image.html file="img/unzipfiles.jpg" alt="Unzip Files" %}</p>
<p class="list-1">&bull;&nbsp; To unzip file files simply right click on them and choose <code>Extract to "pagebuilder\"</code></p>
<p>{% include image.html file="img/copyfolder.jpg" alt="Copy Folder" %}</p>
<p class="list-1">&bull;&nbsp; Now we will be copying the files to a more convenient location to run them easily. If left in the Downloads folder or copied onto the Desktop to run the script means you will have to type in command similar to this. <code>C:\Python27\python.exe C:\Users\[username]\Downloads\pagebuilder\wtxt-wiki-user.py genHtml "Wiki Page Template.txt"</code>. While not difficult we will simplify that some to make it easier.</p>
<p class="list-1">&bull;&nbsp; Right click the <code>pagebuilder</code> folder and, choose Copy</p>
<p>{% include image.html file="img/choosecopy.jpg" alt="Choose Copy" %}</p>
<p class="list-1">&bull;&nbsp; Navigate to the C Drive</p>
<p>{% include image.html file="img/gotocdrive.jpg" alt="Choose C Drive" %}</p>
<p class="list-1">&bull;&nbsp; Right click in an empty space and, choose Paste.</p>
<p>{% include image.html file="img/choosepaste.jpg" alt="Choose Paste" %}</p>
<p class="list-1">&bull;&nbsp; Once copied to the C: drive double click the pagebuilder folder and you should see the example file and the Python script</p>
<p>{% include image.html file="img/copiedforuse.jpg" alt="Pagebuilder Copied" %}</p>
<p class="list-1">&bull;&nbsp; To run python and process the example file you need to open a command prompt since Python does not have its own GUI interface.</p>
<p class="list-1">&nbsp;&nbsp; Type <code>cmd</code> in the red box, and right click <code>cmd.exe</code> and choose "Run As Administrator" as shown in the green box.</p>
<p>{% include image.html file="img/opencommand.jpg" alt="Open CMD Prompt" %}</p>
<p class="list-1">&nbsp;&nbsp; Which will look like this once it's open</p>
<p>{% include image.html file="img/commandopen.jpg" alt="CMD Prompt Open" %}</p>
<p class="list-1">&nbsp;&nbsp; As mentioned we needed to put that folder somewhere so that there would be less typing.</p>
<p class="list-1">&nbsp;&nbsp; As shown type <code>cd c:\pagebuilder</code> and press <code>[ENTER]</code></p>
<p>{% include image.html file="img/changedir.jpg" alt="Change Directory" %}</p>
<p class="list-1">&nbsp;&nbsp; Now we will run the python script to produce a sample HTML output so you can see a close version of what will be in the wiki.</p>
<p class="list-1">&nbsp;&nbsp; As shown type <code>c:\python27\python.exe wtxt-wiki-user.py genHtml "Wiki Page Template.txt"</code> and press <code>[ENTER]</code></p>
<p>{% include image.html file="img/runpython.jpg" alt="Run Python" %}</p>
<p class="list-1">&nbsp;&nbsp; There were no errors and now <code>Wiki Page Template.html</code> appears in the <code>pagebuilder</code> folder.</p>
<p>{% include image.html file="img/outputhtml.jpg" alt="Output HTML" %}</p>
<p class="list-1">&nbsp;&nbsp; Double click <code>Wiki Page Template.html</code> and you will see more or less what the page would look like.</p>
<p>{% include image.html file="img/examplehtml.jpg" alt="Example HTML" %}</p>
<p class="empty">&nbsp;</p>
<p>Add the content you wish to add, regenerating the HTML as you go and, you are on your way to producing content for the wiki.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="ReuseandCredits">10.5 - Reuse and Credits</h2>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="LicenseWML10ModifyandRedistributeShareAlike">10.5.1 - License: WML 1.0 Modify and Redistribute, Share Alike</h3>
<p class="list-1">&bull;&nbsp; You are free to redistribute this work in unmodified form.</p>
<p class="list-1">&bull;&nbsp; You are free to modify and re-distribute this work, so long as you: 1) give the author(s) credit proportional to their contribution to the final work, 2) distribute the final work under the same terms, and 3) make artistic resources included with the final work available under these same terms.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="Credits">10.5.2 - Credits</h3>
<p class="list-1">&bull;&nbsp; <B><I>Wrye</I></B>, for creating this markdown language</p>
</div>
