---
layout: default
title: Popular Modding Tools Tutorials
---
<h1 class="header1">{{ page.title }}</h1>
<hr>
<h1 class="grhead1">Main Table of Contents</h1>
<div id="tableOfContents" class="grid-toc">
    <div class="toc1">
        <h2 class="grhead2">General</h2>
        <h3 class="grhead3"><a href="index.html">Welcome</a></h3>
        <h3 class="grhead3"><a href="10-contribute.html">Contribute: Generate Wiki pages from Text Files</a></h3>
        <h2 class="grhead2">Wrye Bash Related</h2>
        <h3 class="grhead3"><a href="2-wryebashfeatures.html">Wrye Bash Features</a></h3>
        <h3 class="grhead3"><a href="3-wryemashusage.html">Wrye Mash Usage</a></h3>
        <h3 class="grhead3"><a href="4-generalusage.html">General Usage</a></h3>
        <h3 class="grhead3"><a href="5-advancedusage.html">Advanced Usage</a></h3>
        <h3 class="grhead3"><a href="6-technicalreferences.html">Technical References</a></h3>
        <h3 class="grhead3"><a href="8-tomeofalt3rn1ty.html">Tome of Alt3rn1ty</a></h3>
    </div>
    <div class="toc2">
        <h2 class="grhead2">Morrowind Related</h2>
        <h3 class="grhead3"><a href="9-morrowindandbeyond.html">Morrowind And Beyond</a></h3>
        <h3 class="grhead3"><a href="14-testoolghostwheel.html">TES Plugin Tool (TESTool) 1.3 Docs</a></h3>
        <h2 class="grhead2">Oblivion Related</h2>
        <h3 class="grhead3"><a href="7-tomeofpsymon.html">Tome of Psymon - BAIN Mod Installation Projects</a></h3>
        <h3 class="grhead3"><a href="13-oblivionandbeyond.html">Oblivion And Beyond</a></h3>
        <h2 class="grhead2">Skyrim Related</h2>
        <h3 class="grhead3"><a href="11-tutorial_Links.html">Skyrim Special Edition Mod Tutorial Link Compendium</a></h3>
        <h3 class="grhead3"><a href="12-other_tools_and_extras.html">Popular Modding Tools Tutorials</a></h3>
    </div>
</div>
<p class="empty">&nbsp;</p>
<div>
<!-- Needed, sets the top of the page just before the H1 Title -->
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Contents">Contents</h2>
<p class="list-2">&bull;&nbsp; <a href="#BethesdaArchiveExtractor">12.0.1 Bethesda Archive Extractor</a></p>
<p class="list-2">&bull;&nbsp; <a href="#BethINI">12.0.2 BethINI</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Blender">12.0.3 Blender</a></p>
<p class="list-2">&bull;&nbsp; <a href="#CathedralAssetsOptimizer">12.0.4 Cathedral Assets Optimizer</a></p>
<p class="list-2">&bull;&nbsp; <a href="#CubeMapGen">12.0.5 CubeMapGen</a></p>
<p class="list-2">&bull;&nbsp; <a href="#DynDOLOD">12.0.6 DynDOLOD</a></p>
<p class="list-2">&bull;&nbsp; <a href="#GIMP">12.0.7 GIMP</a></p>
<p class="list-2">&bull;&nbsp; <a href="#LOOT">12.0.8 LOOT</a></p>
<p class="list-2">&bull;&nbsp; <a href="#MatorSmash">12.0.9 Mator Smash</a></p>
<p class="list-2">&bull;&nbsp; <a href="#NifOptimizer">12.0.10 Nif Optimizer</a></p>
<p class="list-2">&bull;&nbsp; <a href="#NifScan">12.0.11 NifScan</a></p>
<p class="list-2">&bull;&nbsp; <a href="#NifSkope">12.0.12 NifSkope</a></p>
<p class="list-2">&bull;&nbsp; <a href="#NPCNifMerge">12.0.13 NPC Nif Merge</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Paintnet">12.0.14 Paint.net</a></p>
<p class="list-2">&bull;&nbsp; <a href="#xLODGen">12.0.15 xLODGen</a></p>
<p class="list-2">&bull;&nbsp; <a href="#zEdit">12.0.16 zEdit</a></p>
<p class="list-1">&bull;&nbsp; <a href="#RandomTutorialsandFunStuff">12.1 Random Tutorials and Fun Stuff</a></p>
<p class="list-2">&bull;&nbsp; <a href="#ModdingGuides">12.1.1 Modding Guides</a></p>
<p class="list-3">&bull;&nbsp; <a href="#LexysLOTD">12.1.1.1 Lexy's LOTD</a></p>
<p class="list-3">&bull;&nbsp; <a href="#ThePhoenixFlavour">12.1.1.2 The Phoenix Flavour</a></p>
<p class="list-3">&bull;&nbsp; <a href="#TucoGuide">12.1.1.3 TucoGuide</a></p>
<p class="list-3">&bull;&nbsp; <a href="#SkyRemGuide">12.1.1.4 SkyRem Guide</a></p>
<p class="list-3">&bull;&nbsp; <a href="#TheNorthernExperienceGuide">12.1.1.5 The Northern Experience Guide</a></p>
<p class="list-1">&bull;&nbsp; <a href="#ReuseandCredits">12.2 Reuse and Credits</a></p>
<p class="list-4">&bull;&nbsp; <a href="#LicenseWML10ModifyandRedistributeShareAlike">12.2.0.0.1 License: WML 1.0 Modify and Redistribute, Share Alike</a></p>
<p class="list-4">&bull;&nbsp; <a href="#Credits">12.2.0.0.2 Credits</a></p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="BethesdaArchiveExtractor">12.0.1 - Bethesda Archive Extractor</h2>
<p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://www.nexusmods.com/fallout4/mods/78/?">B.A.E. - Bethesda Archive Extractor</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>jonwd7</B> On: <B>11/18</B></p>
          <p class="list-6">&bull;&nbsp; <I>An extractor for the new BA2 format (extracts BSAs too!)</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=hw8PFGjgxYc">BAE: Bethesda Archive Extractor: .bsa & .ba2</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>GamerPoets</B> On: <B>2/17</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Easy. Interactive. Step-by-step. B.A.E. Bethesda Archive Extractor : .bsa & .ba2</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqinter.png" alt="I" %}
 <a  href="https://www.youtube.com/watch?v=IL0_PLOWnho">Skyrim Special Edition Modding Guide Ep11 - Converting Mods: NIF Optimizer & BAE</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Dirty Weasel Media</B> On: <B>9/17</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Episode 11 of the Skyrim Special Edition Modding Guide continues with more mod conversions. Now we will incorporate two of the tools we discussed in Episode 9: NIF Optimizer and the Bethesda Archive Extractor. I'll cover their use and show examples converting primarily armor and weapon mods, with a few exceptions.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqold.png" alt="O" %}
{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=gRK6uLH8gB8">4 - Bethesda Archive Extraction</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Brain Poof</B> On: <B>1/16</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Installation and use of Bethesda Archive Extractor (BAE)</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="BethINI">12.0.2 - BethINI</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://www.nexusmods.com/skyrimspecialedition/mods/4875">BethINI</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>DoubleYou</B> On: <B>5/19</B></p>
          <p class="list-6">&bull;&nbsp; <I>Bethesda's INI configuration files are a mess. BethINI optimizes the game for increased graphical fidelity and performance.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=NI8ezwpZQFw">The BEST INI GRAPHICS Settings - BethINI Skyrim Special Edition 2019 Fast Tutorial</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Ai Elias</B> On: <B>8/19</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>INI file tweaking in Skyrim Legendary and Special Editions can be a daunting task but with a tool called BethINI it doesn't have to be. BethINI automatically optimizes your INI values to be set to the ones yield you the best performance and overall graphical fidelity, while also organizing them in a way to make manual tweaking less of a sight for sore eyes. On top of that it also crushes certain bugs all so you can get back to your sweet sweet immersion.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqold.png" alt="O" %}
{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=ECDgl5xfMKc">Skyrim Special Edition Modding Guide Ep3 - Tweaking Your INIs with BethINI</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Dirty Weasel Media</B> On: <B>11/16</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Tweaking your configuration files ( .ini files ) is a basic for anyone modding Bethesda games. We'll give you the basics and provide resources on what they all mean using some S.T.E.P. Guides. Then I show you a tool developed by STEP member Double You, called BethINI, that will help you make tweaks to those files.</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="Blender">12.0.3 - Blender</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://www.blender.org/">Blender</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Blender Foundation</B> On: <B>11/16</B></p>
          <p class="list-6">&bull;&nbsp; <I>Blender is the free and open source 3D creation suite. It supports the entirety of the 3D pipeline—modeling, rigging, animation, simulation, rendering, compositing and motion tracking, video editing and 2D animation pipeline.</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="CathedralAssetsOptimizer">12.0.4 - Cathedral Assets Optimizer</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://www.nexusmods.com/skyrimspecialedition/mods/23316">Cathedral Assets Optimizer</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>G_k</B> On: <B>12/19</B></p>
          <p class="list-6">&bull;&nbsp; <I>An automation tool used to optimize BSAs, meshes, textures and animations. It allows quickly porting an Oldrim mod to Skyrim Special Edition, and can optimize assets for many Bethesda games.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqdiscus.png" alt="D" %}
 <a  href="https://discord.gg/mraruus">Modding Tools Discord</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>G_k, Mator</B> On: <B>ongoing</B></p>
          <p class="list-6">&bull;&nbsp; <I>Discord Server for Mator's Mods and CAO support</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="CubeMapGen">12.0.5 - CubeMapGen</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://gpuopen.com/archive/gamescgi/cubemapgen/">CubeMapGen</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>AMD</B> On: <B>no longer supported</B></p>
          <p class="list-6">&bull;&nbsp; <I>CubeMapGen is a tool for importing, filtering, visualizing, and exporting cubemaps. Per the developer: "AMD CubeMapGen has reached end of life. AMD no longer supports CubeMapGen, but makes it available for download without warrenty."</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="DynDOLOD">12.0.6 - DynDOLOD</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://www.nexusmods.com/skyrim/mods/59721">Dynamic Distant Objects LOD - DynDOLOD</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Sheson</B> On: <B>1/2020</B></p>
          <p class="list-6">&bull;&nbsp; <I>DynDOLOD is a set of simple tools based on xEdit/xLODGen to automatically create a Skyrim mod based on the load order which adds distant LOD for objects and trees to Skyrim. By combining DynDOLOD with xLODGen users can create drastically enhanced static object LOD + tree LOD and the new, optional dynamic distant object LOD in a few simple steps.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqdiscus.png" alt="D" %}
 <a  href="https://forum.step-project.com/forum/101-shesons-dyndolod-support/">Sheson's DynDOLOD Support S.T.E.P. Wiki Forum</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Sheson</B> On: <B>ongoing</B></p>
          <p class="list-6">&bull;&nbsp; <I>Find support for the tools developed by Sheson.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqold.png" alt="O" %}
{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=90TRMvFdduo&t=145s">DynDOLOD 2.00 Guide MO</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Sheson</B> On: <B>5/16</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>How to generate tree, static and dynamic distant object LOD for Skyrim with DynDOLOD as demonstrated by the tool author</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqold.png" alt="O" %}
{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=1_5MWqeHIzw">DynDOLOD: Dynamic Distant Object LOD: Start to Finish</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>GamerPoets</B> On: <B>5/16</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>DynDOLOD : Dynamic Distant Objects LOD : Start to Finish Easy. Interactive. Step by step.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqinter.png" alt="I" %}
 <a  href="https://www.youtube.com/watch?v=8gu8inzs09s">Ultimate Trees Installation Guide - 2019 - DynDOLOD 3D Ultra Trees - Skyrim SE</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>WazaLang</B> On: <B>3/19</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>In-depth tutorial on generating ultra trees for high-end rigs</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqinter.png" alt="I" %}
 <a  href="https://www.youtube.com/watch?v=ncLQhCQgek4">Setting Up DynDOLOD for Skyrim SE</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>John Rose</B> On: <B>10/18</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Streamed live on Oct 20, 2018</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="GIMP">12.0.7 - GIMP</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://www.gimp.org/">GIMP</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>The GIMP Team</B> On: <B>ongoing</B></p>
          <p class="list-6">&bull;&nbsp; <I>GIMP is a cross-platform image editor available for GNU/Linux, OS X, Windows and more operating systems. It is free software, you can change its source code and distribute your changes.</I></p>
          <p class="list-6">&bull;&nbsp; <I>Whether you are a graphic designer, photographer, illustrator, or scientist, GIMP provides you with sophisticated tools to get your job done. You can further enhance your productivity with GIMP thanks to many customization options and 3rd party plugins.</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="LOOT">12.0.8 - LOOT</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://www.nexusmods.com/skyrimspecialedition/mods/1918">LOOT - Load Order Optimisation Tool</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>wrinklyninja</B> On: <B>12/19</B></p>
          <p class="list-6">&bull;&nbsp; <I>Setting the right load order for your mods is a crucial step to enjoying a stable modded game. The Load Order Optimisation Tool (LOOT) can help with that, by providing automated load order sorting that's simple to use and fully customisable. See also: <a  href="https://loot.github.io/">Official LOOT site</a></I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqdiscus.png" alt="D" %}
 <a  href="https://loot.github.io/discord/">LOOT Discord</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>LOOT Team</B> On: <B>ongoing</B></p>
          <p class="list-6">&bull;&nbsp; <I>Support for LOOT</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=Ncv_FWQUw0k&list=PLlN8weLk86Xi1s9UklgzsLl3sbLYKHBH7&index=2&t=0s">Modding 101 - Load Order - A to ESL - Elder Scrolls & Fallout</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>GamerPoets</B> On: <B>5/19</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Background information on Load Ordering, how Modules Load, etc.. with some information about LOOT at the end</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=lSh35PUZKlQ">Fix 90pct of Mod Conflicts EASILY - LOOT Mod Organizer 2 Skyrim SE Guide</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Ai Cave</B> On: <B>2/19</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>This video is an introduction to load order and its management through the Load Order Optimization Tool (LOOT).</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=sTiqtVczZFs">A Beginner's Guide to Using LOOT to Organize your Mods (Fallout/Elder Scrolls) Tutorial</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>^ChrisZPR</B> On: <B>6/18</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Step-by-step installation with a bit of troublshooting</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=iOzY2SZ26LQ">Skyrim SE: LOOT Mod Organizer 2 Tutorial</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Tonyo Allie</B> On: <B>1/18</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Hey everyone. I wanted to give you an indepth tutorial about Loot and load order for Mod Organizer 2 for Skyrim Special Edition. I know it's a pretty basic tool, but I felt this tutorial need to be stretched out a bit. Especially, with load order involved and how important it really is with your mods. Please make sure you endorse the mod author of loot and let him know we appreciate all his hard work.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=I35nNK8PWlw">LOOT: Load Order Optimization Tool</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>GamerPoets</B> On: <B>5/17</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Easy. Interactive. Step-by-step. An all-encompassing and ever-evolving guide: LOOT Load Order Optimisation Tool</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="MatorSmash">12.0.9 - Mator Smash</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://www.nexusmods.com/skyrim/mods/90987">Mator Smash</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Mator</B> On: <B>5/18</B></p>
          <p class="list-6">&bull;&nbsp; <I>Mator Smash is a tool that generates conflict resolution patches, similar to Wrye Bash's Bashed Patch.</I></p>
          <p class="list-6">&bull;&nbsp; <I>Smash is capable of handling conflicts in all record types.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqdiscus.png" alt="D" %}
 <a  href="https://discord.gg/mraruus">Modding Tools Discord</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Mator</B> On: <B>ongoing</B></p>
          <p class="list-6">&bull;&nbsp; <I>Support for Mator's tools</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=2e-0mc8wmDs">Skyrim SE: Mator Smash Mod Organizer 2 Updated Tutorial</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Tonyo Allie</B> On: <B>1/18</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Hey everyone. I've gone ahead and updated Mator Smash installation tutorial for Mod Organizer 2 for Skyrim Special Edition. I hope this helps everyone with their game and really breaks down how a Smash Patch work and how it can make your game a very stable and enjoyable experience.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=l39VMssZmjE">Mator Smash: Installation & General Use</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>GamerPoets</B> On: <B>10/17</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Easy. Interactive. Step-by-step. Mator Smash Installation & General Use</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="NifOptimizer">12.0.10 - Nif Optimizer</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://www.nexusmods.com/skyrimspecialedition/mods/4089">SSE Nif Optimizer</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>ousnius</B> On: <B>8/19</B></p>
          <p class="list-6">&bull;&nbsp; <I>A tool for mod authors that optimizes your SK NIF files for the (actual) new SSE format and fixes issues. Can also scan textures for compatibility.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=IL0_PLOWnho">Skyrim Special Edition Modding Guide Ep 11 - Converting Mods - NIF Optimizer & BAE</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Dirty Weasel Media</B> On: <B>9/17</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Episode 11 of the Skyrim Special Edition Modding Guide continues with more mod conversions. Now we will incorporate two of the tools we discussed in Episode 9: NIF Optimizer and the Bethesda Archive Extractor. I'll cover their use and show examples converting primarily armor and weapon mods, with a few exceptions.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.dracotorre.com/blog/how-to-update-meshes-se/">How to Update Meshes for Skyrim SE</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Draco Torre</B> On: <B>1/17</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Text</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Goal: scan mesh files (nif) to ensure compatibility with Skyrim Special Edition and update unsupported meshes.</I></p>
          <p class="list-6">&bull;&nbsp; <I>This tutorial is aimed at the beginner using <B><a  href="http://www.nexusmods.com/skyrim/mods/39718/?">Blades Hakama</a></B> by atomec as an example, and assumes familiarity working with folders and files. I do not cover HDT outfits here.</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="NifScan">12.0.11 - NifScan</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://www.nexusmods.com/skyrim/mods/75916/?">NifScan</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>zilav</B> On: <B>11/16</B></p>
          <p class="list-6">&bull;&nbsp; <I>A simple command line utility to quickly scan nifs for common errors</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.dracotorre.com/blog/how-to-update-meshes-se/">How to Update Meshes for Skyrim SE</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Draco Torre</B> On: <B>2/17</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Text</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Goal: scan mesh files (nif) to ensure compatibility with Skyrim Special Edition and update unsupported meshes.</I></p>
          <p class="list-6">&bull;&nbsp; <I>This tutorial is aimed at the beginner using <B><a  href="http://www.nexusmods.com/skyrim/mods/39718/?">Blades Hakama</a></B> by atomec as an example, and assumes familiarity working with folders and files. I do not cover HDT outfits here.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqadvan.png" alt="A" %}
 <a  href="http://www.gamesas.com/how-use-nifscan-t412676.html">How to use Nifscan? Post</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Sweet Blighty and Krystal Sowten</B> On: <B>2/17</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Text</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Q&A on creating a batch file to use with NifScan</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="NifSkope">12.0.12 - NifSkope</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://github.com/jonwd7/nifskope/releases">NifSkope</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>jonwd7</B> On: <B>8/19</B></p>
          <p class="list-6">&bull;&nbsp; <I>A tool for opening and editing Model Files, also known as the NetImmerse File Format, meshes or .nifs</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=gHbbFs5R6Is">NifSkope - Installation & Setup</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>GamerPoets</B> On: <B>10/18</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Why NifSkope, what does it do, how to install, and resource setup.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=TdtI2q-MSMk&list=PLiPgFWIHsr8XA0h8Q5MS-8dnufJGrxeAZ&index=3&t=0s">NifSkope Tutorial (Basic Program Setup) Skyrim</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Darkfox127</B> On: <B>2/17</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>I thought I would go ahead and create a quick tutorial on Nifskope to show you how to get things set up for Skyrim modding. I don;t go into crazy detail, just show you the very basics of setup. You'll be able to view your textures in Nifskope while making changes to meshes and be sure that the texture paths are correct when it comes to packing and uploading your mods.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=ktwHE8SX_JU&list=PLiPgFWIHsr8XA0h8Q5MS-8dnufJGrxeAZ&index=2&t=0s">Creating Harvestable Items</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Darkfox127</B> On: <B>1/17</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>In this video I'll be covering how to create your own harvestable items in the Creation Kit. The example I will be using is taking a Blary resource jar and having it filled with ingredients which then disappear as they are taken from the Jar. To achieve this, we need to use Nifskope to make some changes to our jar mesh. You have to attach some nodes and make copies of some NiTriShapes which is actually fairly easy to do. You then import your mesh into the kit and set some basic harvest item options up.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=1u51yDEGzmQ&list=PLiPgFWIHsr8XA0h8Q5MS-8dnufJGrxeAZ&index=4&t=0s">NifSkope Tutorial (Editing UV Maps</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Darkfox127</B> On: <B>6/17</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>In this video I'll be showing you how to make changes to UV maps within Nifskope using two Skyrim meshes. I'll be taking the textures from one mesh, placing them on the other and then adjusting the UV map so that it fits nicely. There are some useful little tips and tricks in here from experience which you may find useful.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqold.png" alt="O" %}
{% include image-inline.html max-width="20px" file="img/Sqadvan.png" alt="A" %}
 <a  href="https://www.creationkit.com/index.php?title=Convert_New_Nif_from_3dsMax_to_Skyrim">Convert New Nif from 3dsMax to Skyrim</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Monsto</B> On: <B>8/12</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Text</B> </p>
          <p class="list-6">&bull;&nbsp; <I>If you have modeled an original outfit for skyrim, you can follow these steps to see if it works in-game. It requires use of <B>NifSkope</B>.</I></p>
          <p class="list-6">&nbsp;&nbsp; <B>This guide works with:</B></p>
          <p class="list-6">&bull;&nbsp; <I>NifSkope 1.1.0 RC7</I></p>
          <p class="list-6">&bull;&nbsp; <I>NifSkope 1.1.0 RC6</I></p>
          <p class="list-6">&bull;&nbsp; <B><a  href="http://skyrim.nexusmods.com/mods/5622">3ds Max Nif Importer-Exporter 3.7.3</a></B></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="NPCNifMerge">12.0.13 - NPC Nif Merge</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://www.nexusmods.com/skyrim/mods/40494/">NPC Nif Merge</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Turulo</B> On: <B>8/13</B></p>
          <p class="list-6">&bull;&nbsp; <I>Small application to merge NPC's FaceGen NIF files</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="Paintnet">12.0.14 - Paint.net</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://www.getpaint.net/index.html">Paint.net</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Rick Brewster</B> On: <B>12/19</B></p>
          <p class="list-6">&bull;&nbsp; <I>Paint.NET is image and photo editing software for PCs that run Windows. It features an intuitive and innovative user interface with support for layers, unlimited undo, special effects, and a wide variety of useful and powerful   tools. An active and growing online community provides friendly help, tutorials, and plugins.</I></p>
          <p class="list-6">&bull;&nbsp; <I>This site has its own collection of tutorials and forums for the self-learner</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqdiscus.png" alt="D" %}
 <a  href="https://forums.getpaint.net/forum/18-tutorials-publishing-only/">paint.net Tutorials Forum - Publishing ONLY!</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Author here</B> On: <B>date created</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video or text</B> </p>
          <p class="list-6">&bull;&nbsp; <I>This section is for publishing tutorials and subsequent discussion of those tutorials. This section is not for tutorial requests or other general questions - please post these in <a  href="https://forums.getpaint.net/forum/4-paintnet-discussion-and-questions/">paint.net Discussions and Questions</a> forum.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=fsL935G0VMM">Beginner's Guide to Paint.net - The Basics</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>JustinTheOreo</B> On: <B>8/17</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>So with all my tutorials of this program on my channel, I wanted to help the newer users out there. So I am starting a short series where I try to help you beginners out to improve your skills in Paint.NET. I hope you enjoy this series!</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqbegin.png" alt="B" %}
 <a  href="https://www.youtube.com/watch?v=15MkI0K0BXY">Beginner's Guide to Paint.NET - Tools</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>JustinTheOreo</B> On: <B>8/17</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Video</B> </p>
          <p class="list-6">&bull;&nbsp; <I>Today we cover tools, and how to use them!</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="xLODGen">12.0.15 - xLODGen</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
{% include image-inline.html max-width="20px" file="img/Sqdiscus.png" alt="D" %}
 <a  href="https://forum.step-project.com/topic/13451-xlodgen-terrain-lod-beta-for-fnv-fo3-fo4-fo4vr-tes5-sse-tes5vr-enderal/">xLODGen - Terrain LOD beta for FNV, FO3, FO4, FO4VR, TES5, SSE, TES5VR, ENDERAL</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Sheson</B> On: <B>1/20</B></p>
          <p class="list-6">&bull;&nbsp; <I>Installed a mod that moves or changes trees but they remain unchanged when far way, or you can't see new farm houses from a new shiney villages overhaul when a top of the mountain? Then you need this tool: an almost one-click LOD generator for Skyrim Special Edition.</I></p>
          <p class="list-6">&bull;&nbsp; <I>This link is for Sheson's official support forum, from which his official tools can also be dl'ed.</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="zEdit">12.0.16 - zEdit</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqtool.png" alt="T" %}
 <a  href="https://github.com/z-edit/zedit/releases">zedit</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Mator</B> On: <B>10/19</B></p>
          <p class="list-6">&bull;&nbsp; <I>zEdit is a Windows desktop application which provides a development environment for editing Bethesda Plugin Files.</I></p>
          <p class="list-6">&bull;&nbsp; <I>zEdit is built off of xEdit's codebase through XEditLib. zEdit is built with Electron, which allows it to take advantage of web technologies such as HTML, CSS, and ES6 JavaScript.</I></p>
          <p class="list-6">&bull;&nbsp; <I>The initial development goal for zEdit is to provide equivalent functionality to the xEdit GUI, but a number of popular extensions and improvements are also being developed. Check out xEdit Comparison for a comparison of xEdit and zEdit features.</I></p>
          <p class="empty">&nbsp;</p>
<h1 class="header1" id="RandomTutorialsandFunStuff">12.1 - Random Tutorials and Fun Stuff</h1>
          <p class="empty">&nbsp;</p>
<p><B>A collection of tutorials and links to fun stuff that don't necessarily fit anywhere else.</B></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqadvan.png" alt="A" %}
 <a  href="https://wiki.nexusmods.com/index.php/Creating_cubemaps_for_Skyrim">Creating Cubemaps for Skyrim</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Nexus Wiki Team</B> On: <B>unknown</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Text</B> </p>
          <p class="list-6">&bull;&nbsp; <I>This tutorial shows all the main steps you need to follow to create a cubemap for Skyrim (the cubemap you create here may be used in other games, too).</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/Sqadvan.png" alt="A" %}
 <a  href="https://wiki.nexusmods.com/index.php/Importing_custom_videos_into_FNV/F3/Skyrim/Oblivion">Importing Custom Videos into FNV/F3/Skyrim/Oblivion</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Martin Purvis</B> On: <B>unknown</B></p>
          <p class="list-6">&bull;&nbsp; Format: <B>Text</B> </p>
          <p class="list-6">&bull;&nbsp; <I>This basic tutorial shows how you can import your own custom videos into Fallout: New Vegas, Fallout 3, Skyrim and Oblivion. I haven't seen any tutorials on getting this to work, I worked out how to do it by spending a bit of time experimenting. You can watch the Video tutorial below or if you prefer I have written a text version. This particular tutorial will be Fallout New Vegas</I></p>
          <p class="empty">&nbsp;</p>
<h2 class="header2" id="ModdingGuides">12.1.1 - Modding Guides</h2>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; Some may decide that they really have no interest or time to learn the ins and outs of modding for themselves and would rather just follow a curated guide and get to the gaming. The following are guides known to be actively maintained as of 2020. These are sorted by alphabetical order and make no judgements as to quality. The modder should choose based on their own play-style. BE AWARE: mod guides are based on the tastes and playstyles of someone else. <B>If you want a list totally tailored to your own preferences, take the time to learn to mod</B>. DO NOT pester mod guide authors to change to suit you.</p>
     <p class="empty">&nbsp;</p>
<h3 class="header3" id="LexysLOTD">12.1.1.1 - Lexy's LOTD</h3>
     <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqguide.png" alt="G" %}
 <a  href="https://wiki.nexusmods.com/index.php/User:Darkladylexy/Lexys_LOTD_SE">Lexy's Legacy of the Dragonborn Special Edition: A Skyrim: SE Mod Guide</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>DarkladyLexy and Darth_mathias</B></p>
          <p class="list-6">&bull;&nbsp; <I>This guide is designed for experienced modders. If you are new to the Skyrim Modding Experience, it is highly suggested you watch videos, read forums posts, and other such activities to ensure you are familiarized with all of the tools used in this mod build.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqdiscus.png" alt="D" %}
 <a  href="https://discord.gg/xj7JcZ7">Lexy's: Legacy of the Dragonborn Discord</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>DarkladyLexy</B> On: <B>ongoing</B></p>
          <p class="list-6">&bull;&nbsp; <I>Discord forum for the Lexy's LOTD guide.</I></p>
          <p class="empty">&nbsp;</p>
<h3 class="header3" id="ThePhoenixFlavour">12.1.1.2 - The Phoenix Flavour</h3>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqguide.png" alt="G" %}
 <a  href="https://www.nexusmods.com/skyrimspecialedition/mods/14223">The Phoenix Flavor - A Modding Guide for Skyrim SE</a></B></p>
     <p class="list-3">&bull;&nbsp; <B><a  href="https://thephoenixflavour.com/guide/introduction/">Official The Phoenix Flavor site</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Phoenix</B></p>
          <p class="list-6">&bull;&nbsp; <I>The Nexus page for The Phoenix Flavour guide - thephoenixflavour.com - with all necessary files.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqdiscus.png" alt="D" %}
 <a  href="https://discordapp.com/invite/SV5N6n7">The Phoenix Flavour Discord</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>Phoenix</B> On: <B>ongoing</B></p>
          <p class="list-6">&bull;&nbsp; <I>This is the official Discord server for The Phoenix Flavour, a modding guide for Skyrim Special Edition.</I></p>
          <p class="empty">&nbsp;</p>
<h3 class="header3" id="TucoGuide">12.1.1.3 - TucoGuide</h3>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqguide.png" alt="G" %}
 <a  href="https://www.nexusmods.com/skyrimspecialedition/mods/10694">TUCOGUIDE - Modlist Guide and Tutorial for Mod Organizer 2</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>OutdatedTV (Ponurymazepa) and TUCO Modding Team</B></p>
          <p class="list-6">&bull;&nbsp; <I>TUCOGUIDE - The compact modlist aimed for learning and promoting good modding practices and properly using Mod Organizer 2. Aimed to be a backbone for eventually installing further mods on top of it if you desire.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqdiscus.png" alt="D" %}
 <a  href="https://discord.gg/tvjWjCr">Outdated TV Main Discord</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>OutdatedTV</B> On: <B>ongoing</B></p>
          <p class="list-6">&bull;&nbsp; <I>Discord server for Outdated TV projects including the TUCOGUIDE</I></p>
          <p class="empty">&nbsp;</p>
<h3 class="header3" id="SkyRemGuide">12.1.1.4 - SkyRem Guide</h3>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqguide.png" alt="G" %}
 <a  href="https://www.nexusmods.com/skyrimspecialedition/mods/26789">SkyREM Guide</a></B></p>
     <p class="list-3">&bull;&nbsp; <B><a  href="https://wiki.step-project.com/User:DrPharmDawg/SkyRem_Guide_Home">Official SkyREM Guide</a></B>	 </p>
          <p class="list-6">&bull;&nbsp; By: <B>DrPharmDawg</B></p>
          <p class="list-6">&bull;&nbsp; <I>Skyrim Roleplay Enhancement Mod Guide. Patches and files needed for the guide will be available here on the Nexus.</I></p>
          <p class="list-6">&bull;&nbsp; <I>SkyRem Concept: Add to the Skyrim experience by incorporating elements of strategic roleplay that focus on character creation, growth, and development that works seamlessly with the base (vanilla) game. While this began with the desire to tweak character creation, it has since grown into two (currently) series of mods and now a guide as I work to put it all together.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqdiscus.png" alt="D" %}
 <a  href="https://discord.gg/4VT6ZK9">SkyRem Discord</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>DrPharmDawg</B> On: <B>ongoing</B></p>
          <p class="list-6">&bull;&nbsp; <I>Welcome to the SkyRem Discord! This server is for all things SkyRem related - Guide and Mods.</I></p>
          <p class="empty">&nbsp;</p>
<h3 class="header3" id="TheNorthernExperienceGuide">12.1.1.5 - The Northern Experience Guide</h3>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqguide.png" alt="G" %}
 <a  href="https://www.nexusmods.com/skyrimspecialedition/mods/23894">The Northern Experience - Skyrim Modding Guide</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>mnikjom</B></p>
          <p class="list-6">&bull;&nbsp; <I>Guide that will provide an unique, Gothic-esque adventure in a mod-list based on YASH2 overhaul.</I></p>
          <p class="empty">&nbsp;</p>
     <p class="list-3">&nbsp;&nbsp; <B>{% include image-inline.html max-width="20px" file="img/SqOC.png" alt="OC" %}
{% include image-inline.html max-width="20px" file="img/Sqdiscus.png" alt="D" %}
 <a  href="https://discord.gg/fuhsnph">Rare Papug Association Discord</a></B></p>
          <p class="list-6">&bull;&nbsp; By: <B>mnikjom</B> On: <B>ongoing</B></p>
          <p class="list-6">&bull;&nbsp; <I>Discord server for mnikjom's projects including the The Northern Experience Guide.</I></p>
          <p class="empty">&nbsp;</p>
<h1 class="header1" id="ReuseandCredits">12.2 - Reuse and Credits</h1>
          <p class="empty">&nbsp;</p>
<h4 id="LicenseWML10ModifyandRedistributeShareAlike">12.2.0.0.1 - License: WML 1.0 Modify and Redistribute, Share Alike</h4>
          <p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; You are free to redistribute this work in unmodified form.</p>
<p class="list-1">&bull;&nbsp; You are free to modify and re-distribute this work, so long as you:</p>
     <p class="list-3">&nbsp;&nbsp; 1) give the author(s) credit proportional to their contribution to the final work,</p>
     <p class="list-3">&nbsp;&nbsp; 2) distribute the final work under the same terms, and</p>
     <p class="list-3">&nbsp;&nbsp; 3) make artistic resources included with the final work available under the same terms.</p>
     <p class="empty">&nbsp;</p>
<h4 id="Credits">12.2.0.0.2 - Credits</h4>
     <p class="empty">&nbsp;</p>
<p class="list-1">&nbsp;&nbsp; <B><I>A Filthy N'wah</I></B></p>
     <p class="list-3">&bull;&nbsp; Link hoarder and author of this modding resource.</p>
     <p class="empty">&nbsp;</p>
<p class="list-1">&nbsp;&nbsp; <B><I>Sharlikran</I></B> </p>
     <p class="list-3">&bull;&nbsp; Thanks for developing the wiki host site, and providing essential support and guidance.  </p>
     <p class="empty">&nbsp;</p>
<p class="list-1">&nbsp;&nbsp; <B><I>Bethesda Studios</I></B> </p>
     <p class="list-3">&bull;&nbsp; For their games and tools that allow the community to enhance the product at will.	 </p>
     <p class="empty">&nbsp;</p>
<p class="list-1">&nbsp;&nbsp; To all the tool developers and tutorial authors who have made their work available to the public; </p>
<p><B><I>THANK YOU!</I></B></p>
</div>
