<!-- * Start Example Menu 3 * -->
<div id="navMenu" class="menuBox">
    <div id="navMenuTab" class="menuTab"></div>
    <div id="navMenuContent" class="menuContent">
        <h1>Table Of Contents</h1>
		<div>
			<a href="#tableOfContents" id="close_tab" class="btn">Table Of Contents</a>
		</div>
	</div>
</div>
<!--
    <div id="sideMenu3" class="menuBox">
    <div id="sideMenuTab3" class="menuTab"></div>
    <div id="sideMenuContent3" class="menuContent"></div>
    </div>
    -->
<!-- * End Example Menu * -->
