<!-- * Start Color Menu * -->
<div id="colorMenu" class="menuBox">
    <div id="colorMenuTab" class="menuTab">
        <div id="colorMenuTabBG"></div>
    </div>
    <div id="colorMenuContent" class="menuContent">
        <h1>Color Sliders</h1>
        <div class="sliders">
            <input type="range" id="red" min="0" max="255" value="200" step="1" inputName="Red"> 
            <input type="range" id="green" min="0" max="255" value="60" step="1" inputName="Green"> 
            <input type="range" id="blue" min="0" max="255" value="255" step="1" inputName="Blue">
        </div>
        <div class="buttons">
            <h2>sRBG Luma method</h2>
            <button class="btn">Primary Color</button> 
            <button class="btn btn--secondary">Secondary Color</button> 
            <h2>W3C Luma method</h2>
            <button class="btn btn--w3c">Primary Color</button> 
            <button class="btn btn--w3c btn--secondary">Secondary Color</button>
        </div>
    </div>
</div>
<!-- * End Color Menu * -->
