<div id="sideMenuFrame">
    <!-- * Start Color Menu * -->
    <div id="colorMenu" class="menuBox">
        <div id="colorMenuTab" class="menuTab">
            <div id="colorMenuTabBG"></div>
        </div>
        <div id="colorMenuContent" class="menuContent">
            <h1>Color Sliders</h1>
            <div class="sliders">
                <input type="range" id="red" min="0" max="255" value="200" step="1" inputName="Red">
                <input type="range" id="green" min="0" max="255" value="60" step="1" inputName="Green">
                <input type="range" id="blue" min="0" max="255" value="255" step="1" inputName="Blue">
            </div>
            <div class="buttons">
                <h2>sRBG Luma method</h2>
                <button class="pickerbtn">Primary Color</button>
                <button class="pickerbtn pickerbtn--secondary">Secondary Color</button>
                <h2>W3C Luma method</h2>
                <button class="pickerbtn pickerbtn--w3c">Primary Color</button>
                <button class="pickerbtn pickerbtn--w3c pickerbtn--secondary">Secondary Color</button>
            </div>
        </div>
    </div>
    <!-- * End Color Menu * -->
    <!-- * Start Scale Menu * -->
    <div id="scaleMenu" class="menuBox">
        <div id="scaleMenuTab" class="menuTab"></div>
        <div id="scaleMenuContent" class="menuContent">
            <h1>Text Size</h1>
            <div class="sliders">
                <input type="range" id="textScaleSlider" min="80" max="120" value="100" step="10" inputName="Text Scale"/>
            </div>
            <div class="buttons">
                <button type="button" id="textScaleButton" class="menubtn">Change font size</button>
            </div>
        </div>
    </div>
    <!-- * End Scale Menu * -->
    <!-- * Start Example Menu 3 * -->
    <div id="navMenu" class="menuBox">
        <div id="navMenuTab" class="menuTab"></div>
        <div id="navMenuContent" class="menuContent">
            <h1>Navagation Menu</h1>
            <div class="buttons">
                <a href="#tableOfContents" id="close_tab1" class="menubtn menulink">Table Of Contents</a>
                <a href="#Contents" id="close_tab2" class="menubtn menulink">Page Contents</a>
            </div>
        </div>
    </div>
    <!--
        <div id="sideMenu3" class="menuBox">
        <div id="sideMenuTab3" class="menuTab"></div>
        <div id="sideMenuContent3" class="menuContent"></div>
        </div>
        -->
    <!-- * End Example Menu * -->
</div>
