<section>
  <div id="sideMenuFrame">
    <!-- * Start Color Menu * -->
    <div id="colorMenu" class="menuBox">
      <div id="colorMenuTab" class="menuTab">
        <div id="colorMenuTabBG"></div>
      </div>
      <div id="colorMenuContent" class="menuContent">
        <h1>Color Sliders</h1>
        <div class="sliders">
          <input type="range" id="red" min="0" max="255" value="200" step="1" inputName="Red"> 
          <input type="range" id="green" min="0" max="255" value="60" step="1" inputName="Green"> 
          <input type="range" id="blue" min="0" max="255" value="255" step="1" inputName="Blue">
        </div>
        <div class="buttons">
          <h2>sRBG Luma method</h2>
          <button class="btn">Primary Color</button> 
          <button class="btn btn--secondary">Secondary Color</button> 
          <h2>W3C Luma method</h2>
          <button class="btn btn--w3c">Primary Color</button> 
          <button class="btn btn--w3c btn--secondary">Secondary Color</button>
        </div>
      </div>
    </div>
    <!-- * End Color Menu * -->
    <!-- * Start Scale Menu * -->
    <div id="scaleMenu" class="menuBox">
      <div id="scaleMenuTab" class="menuTab"></div>
      <div id="scaleMenuContent" class="menuContent">
        <h1>Text Size</h1>
        <div class="sliders">
          <input type="range" id="textScaleSlider" min="80" max="120" value="100" step="10"
            inputName="Text Scale">
          <button type="button" id="textScaleButton" class="btn">Change font size</button> 
        </div>
      </div>
    </div>
    <!-- * End Scale Menu * -->
    <!-- * Start Example Menu 3 * -->
    <!--
      <div id="sideMenu3" class="menuBox">
      <div id="sideMenuTab3" class="menuTab"></div>
      <div id="sideMenuContent3" class="menuContent"></div>
      </div>
      -->
    <!-- * End Example Menu * -->
  </div>
</section>
